group Web
    source https://api.nuget.org/v3/index.json
    storage:none

    nuget Fable.Core
    nuget Fable.Elmish.Debugger
    nuget Fable.Elmish.HMR
    nuget Fable.Elmish.Nile
    nuget Fable.Elmish.React
    nuget Fable.Elmish.Streams
    nuget Fable.FontAwesome.Free
    nuget FSharp.Core
    nuget Fulma
    nuget Thoth.Fetch

group Build
    source https://api.nuget.org/v3/index.json
    storage:none

    nuget FSharp.Core
    nuget Microsoft.Graph
    nuget Microsoft.Identity.Client
    nuget Thoth.Json.Net

group Test
    source https://api.nuget.org/v3/index.json
    storage:none
    
    nuget Expecto
    nuget FSharp.Core